html {
  color: black;
  background: linear-gradient(to right, #5d3fd3, purple);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.bgr {
  position: absolute;
  top: 100px;
  left: 100px;
  display: inline-block;
  animation-name: sizeChange;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;
  border: 5px solid transparent;
  border-radius: 10%;
  // background: linear-gradient(#b100b8 90%, #6a82fb);
  background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
  background-clip: content-box, border-box;
}
#aboutRon {
  text-align: center;
  animation-name: makeItSmaller;
  position: absolute;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes sizeChange {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes makeItSmaller {
  from {
    top: 200px;
    font-size: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 200px;
    font-size: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mainAndAside {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ball {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border-radius: 50%;
}
.hidden {
  opacity: 0;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
}
