html{
  background-image: linear-gradient(90deg, #5D3FD3, purple);
}
body {
  font-family: "Edu SA Beginner", cursive;
}
nav{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  animation-name: appear;
  animation-duration: 2s;
}
h1 {
  animation-name: move;
  position: absolute;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes move {
  from {
    top: 200px;
    font-size: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 200px;
    font-size: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes appear {
  from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
.mainAndAside {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ball {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border-radius: 50%;
}
#fork{
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
}