html {
  background: linear-gradient(to right, #5d3fd3, purple);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.bgr {
  display: inline-block;
  /* position: relative; */
  animation-name: sizeChange;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;

  border: 3px solid transparent;
  border-radius: 10%;
  background-image: linear-gradient(rgb(187, 0, 255), rgb(187, 0, 255)),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation-direction: alternate-reverse;
}
#aboutRon {
  text-align: center;
  animation-name: move;
  position: absolute;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes sizeChange {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes move {
  from {
    top: 200px;
    font-size: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 200px;
    font-size: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mainAndAside {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ball {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border-radius: 50%;
}
#fork {
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
