html{
  background: linear-gradient(to right, #5D3FD3, purple);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
.bgr{
  border-radius: 3px;
}
#bgr0{
}
#bgr1{
}
#bgr2{
}
#bgr3{
}
#bgr4{
}
#bgr5{
}
#bgr6{
}
#bgr7{
}
#bgr8{
}
#bgr9{
}
#bgr10{
}
#aboutRon{
  text-align: center;
  animation-name: move;
  position: absolute;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    top: 200px;
    font-size: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 200px;
    font-size: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes appear {
  from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
.mainAndAside {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ball {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border-radius: 50%;
}
#fork{
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
}